.todo-list {
  border-radius: 5px;
  background-color: pink;
  border-width: 2px;
  border: #888;
  border-style: solid;
  border-radius: 10px;
}
.top-add {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 20px;
  margin: 0px 5px;
  border-width: 2px;
  border: #888;
  border-style: solid;
  border-radius: 10px;
}

.top-add input{
  padding:10px;
  width: 300px;
  border-radius: 10px;
}

.top-add button{
  background-color: lightgreen;
  padding:10px;
  margin: 5px;
  width: 100px;
  border-radius: 10px;
}

.top-add button:nth-child(1){
  background-color: coral;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.todo-item p {
  color: #888;
}

.todo-item input{
  width: 20px;
  margin: 5px;
}

.crossed-text {
  text-decoration: line-through;
}

.todo-item button{
   width: 70px;
   margin:5px;
   border-radius: 10px;
   background-color: red;
}